<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Admin - Dashboard HTML Template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="../assets/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="../assets/css/templatemo-style.css">
    <!--Load the app.jsfile-->
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
</head>

<dialog id="fillOrder" class="h-10 tm-bg-primary-dark ">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="tm-block-title mb-4">ANONYMOUS PIZZA selections Cart</h2>
            <h2 class="tm-block-title" id="cart_selection">Your Order has been filled</h2>
        </div>
    </div>
</dialog>

<body id="reportsPage">
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand" href='http://localhost:3000'>
                    <h1 class="tm-site-title mb-0"><i class="fas fa-home"> &nbsp;&nbsp;&nbsp;&nbsp;</i>ANONYMOUS PIZZA LTD</h1>
                </a>
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a class="nav-link" href="http://localhost:3000/account/dashboard">
                                <i class="fas fa-tachometer-alt"></i>
                                Menu Items
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link d-block" href="#">
                              <b id="logout">Logout</b>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p id = "welcome_user" class="text-white mt-5 mb-5">Welcome, <b><span  class="tm-site-title mb-0" id="names">Admin</span></b></p>
                </div>
            </div>
            <!-- row -->
            <div class="row tm-content-row">
                    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                <!--<div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">-->
                        <h2 class="tm-block-title">Items In Cart</h2>
                        <table class="table table-hover tm-table-small tm-product-table">
                            <thead>
                                <tr> <th colspan="5"><center><h4 id='cart_email'></h4></center></th> </tr>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Menu Item</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Sub Total</th>
                                </tr>
                            </thead>
                            <tbody id="rows">

                            </tbody>
                        </table>
                        
                    <!--</div>-->
                    <div class="col-12">
                        <button type="submit" onclick="place_order()" class="btn btn-primary btn-block text-uppercase">Place an Order Now</button>
                    </div>
                </div>
            </div>
        </div>
        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2021</b> All rights reserved. 
                </p>
            </div>
        </footer>
    </div>

    <script src="../assets/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="../assets/js/moment.min.js"></script>
    <!-- https://momentjs.com/ -->
    <script src="../assets/js/Chart.min.js"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="../assets/js/tooplate-scripts.js"></script>
    
    <script>
        document.getElementById("names").innerHTML = sessionStorage.getItem("names");
        
    </script>
     <script src="../assets/app.js"></script>
</body>

</html>